html {
    font-family: sans-serif;
}



.site-header {
    display: flex;
    justify-content: space-between;
}


.right-nav {
    display: flex;
    list-style-type: none;
}



.righ-nav-link {
    padding: 4px 12px;
    margin: 0 8px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}



.righ-nav-link:hover {
    text-decoration: underline;
}



.cta-link {
    background-color: yellow;
    border-radius: 15px;
}



.wide-nav-container {

}



.wide-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0px;
}



.wide-nav-item {
    flex-grow: 1;
    margin: 0 8px;
}



.wide-link {
    background-color: #555;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}


.wide-link:hover {
    background-color: #888;
}


